<div class="blog-card blog-card_tertiary">
    <h4 class="blog-card__title blog-card__title_tertiary">
        Как оконной компании повысить продажи
    </h4>
    <p class="blog-card__subtitle blog-card__subtitle_tertiary">
        с помощью личного бренда
    </p>
    <div class="blog-card__personality-box">
        <img src="./assets/img/blog/blog-card-img.png" alt="" class="blog-card__personality-img">
        <div class="blog-card__personality-text-box">
            <h5 class="blog-card__personality-text-title">
                Игорь Вышенский
            </h5>
            <p class="blog-card__personality-text-subtitle">
                основатель компании Vestimo
            </p>
        </div>
    </div>
    <p class="signature blog-card__signature_tertiary">
        пульс отрасли
    </p>
</div>