<div class="expert-card expert-card_secondary">
    <div class="expert-card__personality-box">
        <img src="./assets/img/expert/expert-card-img_2.png" alt="" class="expert-card__personality-img">
        <div class="expert-card__personality-text-box">
            <h5 class="expert-card__personality-text-title">
                Владимир Кожушко
            </h5>
        </div>
    </div>
    <p class="expert-card__title expert-card__title_secondary">
        Президент Союза Оконщиков России, совладелец оконных компаний «Усиленные окна« и
        «Элитбалкон», оконный блогер
    </p>
    <div class="expert-card__link-box">
        <a class="link" href="#">Сайт</a>
        <a class="link" href="#">Сайт</a>
    </div>
    <a class="btn__about-expert" href="#">Об эксперте</a>
</div>