<div class="expert-card expert-card_primary">
    <div class="expert-card__personality-box">
        <img src="./assets/img/expert/expert-card-img.png" alt="" class="expert-card__personality-img">
        <div class="expert-card__personality-text-box">
            <h4 class="expert-card__personality-text-title">
                Олег Ефремов
            </h4>
            <p class="expert-card__personality-text-subtitle">
                Руководитель компании «Лидер»
            </p>
        </div>
    </div>
    <h4 class="expert-card__title">
        80% клиентов «Лидера» приходят после положительных комментариев на «Отзовике» или в Яндексе
    </h4>
    <a class="link" href="#">
        Читать статью
    </a>
</div>