<div class="subscription__box">
    <div class="subscription__row">
        <div class="subscrition__col">
            <p class="subscrition__text">
                Подпишитесь на рассылку — и вы узнаете, как зарабатывать больше с помощью фурнитуры
                для порталов, многозапорных замков и проветривателей.
            </p>
        </div>
        <div class="subscrition__col">
            <div class="subscrition__input-box">
                <input class="input" type="text" placeholder="Введите почту">
                <button type="submit" class="card-link__subscription">Подписаться</button>
            </div>
            <div class="subscrition__text-box">
                <p class="subscrition__text-subinput">
                    Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c
                    <a class="link" href="#">
                        c политикой конфиденциальности.
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="subscription__row">
        <h3 class="subscrition__title">
            Благодарим за подписку!
        </h3>
        <p class="subscrition__text">
            С нашими письмами вы узнаете, как зарабатывать больше с помощью фурнитуры для порталов,
            многозапорных замков и проветривателей.
        </p>
    </div>
</div>