* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}
ul,
summary {
  list-style: none;
}
body {
  height: 100%;
}
.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
//убирает обводку элемента при фокусе
:focus {
  outline: 0;
  outline-offset: 0;
}
section {
  padding: 0 10px;
}
// ===================================================Миксины=============================================

//адаптивное св-во
@mixin adaptiveValue($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
  // Ширина полотна макета
  $maxWidth: 1920;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}

// =========================================Функции=====================================================

//перевод в em
@function em($px, $size) {
  $result: $px / $size + em;
  @return $result;
}

//перевод в rem
@function rem($px) {
  $result: $px / 16 + rem;
  @return $result;
}

//пропорциональное изменение высоты изображения
@function prop($h, $w) {
  $result: $h / $w * 100%;
  @return $result;
}

//адаптивный отступ
@function in($w, $x) {
  $result: $x * 100% / $w;
  @return $result;
}

// =========================================Переменные=====================================================
