:root {
    --primary-black: #333;
    --primary-dark-blue-card: #000047;
    --primary-white: #fff;
    --primary-blue: #3278be;
    --primary-dark-blue: #3278be;
    --primary-light-blue: #eaf1f8;
    --primary-subscription-blue: rgb(234, 241, 248);
    --secondary-dark-grey: #5f6972;
    --secondary-grey: #c5c8cc;
    --secondary-grey-blue: #dde2e6;
}
